<% layout('./layouts/boilerplate') %>

  <h1>All Campgrounds</h1>
  <div>
    <p> <a href="/campgrounds/new"> Add a new Campground </a></p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-3">
  <% for (let camp of campgrounds) { %>
    <div class="card col">
      <img src="<%= camp.image %>" class="card-img-top img-fluid" alt="<%= camp.title %>">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.location %></p>
        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">Check out</a>
      </div>
    </div>
  <% } %>
</div>

